aiofiles==25.1.0
pandas==2.2.3
fastapi-health==0.4.0
Flask==3.1.2
flask-cors==6.0.1
fireworks-ai==0.15.12
langgraph==0.6.6
prometheus-client==0.23.1
python-dotenv==1.0.0
beautifulsoup4==4.12.2
uuid==1.30
sqlalchemy==2.0.38
starlette-exporter==0.23.0
psycopg2-binary==2.9.10
pydantic-settings==2.11.0
pyarrow==19.0.1
pydub==0.25.1
librosa==0.11.0
uvicorn==0.34.3
python-multipart==0.0.20
passlib==1.7.4
bcrypt==3.2.0
mistralai==1.12.4
mistralai[realtime]==1.12.4
fastapi==0.115.12
sse-starlette==2.2.1
starlette==0.45.3
openai==2.32.0